{% extends "!layout.html" %}

{% block extrahead %}
  {{ super() }}

  <!-- Title -->
  <title>{{ project }} - {{ theme_docname | escape }}</title>

  <!-- Meta tags for SEO -->
  <meta name="description" content="CenterMold, a professional mold maker">
  <meta name="keywords" content="Custom Mould, Custom Mold Maker, Injection Molding">

  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TQ77NZJ');</script>
  <!-- End Google Tag Manager -->


  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQ77NZJ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {% endblock %}